@import "../../style/index";

.kanban {
    width: 100%;
    height: 100%;
    background: @blue100;
    overflow: hidden;

    > .stage-list {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: @kanban-padding;
        list-style: none;
        overflow-x: scroll;

        > .stage {
            flex: 0 0 @stage-width;
            height: 100%;
            background: @stage-background;
            overflow-y: scroll;
            margin-right: @kanban-padding;
        }
    }
}
